* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  background-color: #030353;
}

.navbar-brand {
  font-size: 1.2rem;
  font-weight: lighter;
  color: #d7d4d4;
}

.navbar-brand :active {
  color: #ffffff;
}

.navbar a {
  color: #ffffff;
  text-transform: capitalize;
  margin-left: 20px;
}
.navbar-toggler-icon {
  filter: invert(100%);
}

.navbar a:hover {
  color: #3498db;
}

@media (max-width: 991px) {
  .navbar-brand {
    font-size: 1.2rem;
  }
}

.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  color: #333;
}

.alert-danger {
  background: rgb(255, 255, 255);
  color: #fff;
}

.alert-success {
  background: rgb(140, 217, 173);
  color: #fff;
}
